{% extends 'base.html' %}
{% block content %}

        <section class="contact" style="position: relative;min-height: 400px;padding: 50px 100px;display: flex;
    justify-content: center;align-items: center;flex-direction: column;background: url(../../static/assets/img/stu.jpg);
    background-size: cover;">
            <div class="content" style="max-width: 800px;text-align: center;">
                <h2 style="font-size: 64px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: #fff">Hello Student!!!</h2>

            </div>
        </section>

{% endblock %}